<%= form_with(model: animal, local: true) do |form| %>
  <% if animal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(animal.errors.count, "error") %> prohibited this animal from being saved:</h2>

      <ul>
      <% animal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_area :name, id: :animal_name %>
  </div>

  <div class="field">
    <%= form.label :longevity %>
    <%= form.number_field :longevity, id: :animal_longevity %>
  </div>

  <div class="field">
  <%= form.label :preys_id %>
  <%= form.collection_select(:preys_id, Animal.all, :id, :name, {}, { :multiple => true }) %>
  </div>

  <div class="field">
  <%= form.label :predators_id %>
  <%= form.collection_select(:predators_id, Animal.all, :id, :name, {}, { :multiple => true }) %>
  </div>

  <div class="actions">
  <%= form.submit %>
  </div>
<% end %>
